body {
    background-color: black;
}

.jumbotron {
    font-family: 'Trebuchet MS', 'Helvetica';
    background-image: url('http://i68.tinypic.com/hryd15.jpg');
    background-position: center top;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  float: left;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 200;
  margin: 0;
}

header p {
  padding: 0 20px;
  margin: 0;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: 'LightCoral';
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #F08080;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: dimgray;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 100px;
}

ul.posts li {
    list-style: none;
}
